In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
import statistics as stats
# Reading the file from the respective directory to perform various tasks.
file_path = ("Resources\purchase_data.csv")
newfile = pd.read_csv(file_path)

In [2]:
# Calculating total Number of Players
totalPlayers = newfile["SN"].nunique()
totalPlayers

print("Player Count")
print("Total Number of Players :" + str(totalPlayers))
playerscount = pd.DataFrame({"Total Players":[totalPlayers]})
playerscount

Player Count
Total Number of Players :576

   Total Players
0            576

In [3]:

#Purchasing Analysis (Total)

uniqueItems = newfile["Item ID"].nunique()
uniqueItems

averagePrice = newfile["Price"].mean()
averagePrice
averagePricecal =np.round(averagePrice,2)
averagePricecal

totalPurchase= newfile["SN"].count()
totalPurchase



totalRevenue= newfile["Price"].sum()
totalRevenue

newpurchtable= pd.DataFrame({"Number of Unique Items" :[uniqueItems],
                            "Average Price": [averagePricecal],
                            "Number of Purchases" :[totalPurchase],
                           "Total Revenue":[totalRevenue]})
newpurchtable.style.format({"Average Price":"${:.2f}", "Total Revenue":"${:.2f}"})

In [4]:
# Gender Demographics
Everyone=newfile.loc[newfile["Gender"] =="Male"]
maleGamers = len(Everyone)
maleGamers


Everyone=newfile.loc[newfile["Gender"] =="Female"]
femaleGamers = len(Everyone)
femaleGamers


Everyone =newfile.loc[newfile["Gender"]== "Other / Non-Disclosed"]
Others = len(Everyone)
Others

percentageofMales = maleGamers / totalPlayers * 100
percentageofMales

percentageofFemales = femaleGamers / totalPlayers * 100
percentageofFemales

othersPercent = Others / totalPlayers * 100
othersPercent

genderStats = pd.DataFrame({
        "Percentage of Players":[percentageofMales,percentageofFemales,othersPercent],
    "Total Count":[maleGamers,femaleGamers,Others],
                  "Category":["Male", "Female", "Other/Non-Disclosed"]
}).round(2)
genderStats_arrange =genderStats.set_index("Category")
genderStats_arrange.head()

                     Percentage of Players  Total Count
Category
Male                                113.19          652
Female                               19.62          113
Other/Non-Disclosed                   2.60           15

In [9]:
# Purchasing Analysis (Gender)
averagePurchase = newfile.loc[newfile["Gender"] == "Male"]
averagePurchaseMales = averagePurchase["Price"].mean()
totalPurchaseMales =averagePurchase["Price"].sum()
averagePurchaseMales
totalPurchaseMales

averagePurchase = newfile.loc[newfile["Gender"] == "Female"]
averagePurchaseFeMales = averagePurchase["Price"].mean()
totalPurchaseFemales = averagePurchase["Price"].sum()
averagePurchaseFeMales

averagePurchase=newfile.loc[newfile["Gender"]=="Other / Non-Disclosed"]
averagePurchaseOthers = averagePurchase["Price"].mean()
totalPurchaseOthers =averagePurchase["Price"].sum()
averagePurchaseOthers

genderAnalysis = pd.DataFrame({"Purchase Count" :[maleGamers,femaleGamers,Others],
                                      "Average Purchase Price" :[averagePurchaseMales, averagePurchaseFeMales, averagePurchaseOthers],
                                      "Total Purchase Value" : [totalPurchaseMales, totalPurchaseFemales, totalPurchaseOthers],
                                      "Avg Purchase Total Per Person" : [totalPurchaseMales/maleGamers,totalPurchaseFemales/femaleGamers,totalPurchaseOthers/Others],
                                       "Category":["Male", "Female", "Other/Non-Disclosed"]
                                      }).round(2)
genderAnalysis=genderAnalysis.set_index("Category")
genderAnalysis = genderAnalysis[["Purchase Count", "Average Purchase Price","Total Purchase Value","Avg Purchase Total Per Person"]]
genderAnalysis.style.format({"Average Purchase Price":"${:.2f}", "Total Purchase Value":"${:.2f}","Avg Purchase Total Per Person":"${:.2f}"})

In [5]:
#Age Demographics
newfile.dtypes
#converting the Age - category data type.
newint_age = newfile["Age"].astype(str).astype(int)
newfile.dtypes

ageBin = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
ageGroup = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
newfile["Age_binning"] = pd.cut(newfile["Age"],ageBin, labels = ageGroup)
newfile
newfile.head()

# Create a GroupBy object based upon "View Group"
agebingrp = newfile.groupby("Age_binning")
#Find how many rows fall into each bin
playerCalculation = agebingrp["Age"].count()
# Calculation for % of players
percentage = playerCalculation / 576 * 100
age_demodf = pd.DataFrame({"Percentage of Players" :percentage,"Total Count":playerCalculation }).round(2)
age_demodf.head()
#agedemo = newfile.groupby("Age_binning")
age_demos1 = age_demodf.reindex(columns=["Percentage of Players","Total Count"])
age_demos1


newfile["Age_binning"] = pd.cut(newfile["Age"],ageBin, labels = ageGroup)
ageDemographicsTwo = newfile.groupby("Age_binning")
purct = ageDemographicsTwo["SN"].count()
avgpurpri = ageDemographicsTwo["Price"].mean()
totpurval = ageDemographicsTwo["Price"].sum()
avgpurtotperper= totpurval/purct

df = pd.DataFrame({"Purchase Count":purct,
                        "Average Purchase Price":avgpurpri,
                        "Total Purchase Value":totpurval,
                        "Average Purchase Total Per Person":avgpurtotperper}).round(2)
dfOne = df.reindex(columns=["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Purchase Total Per Person"])
dfOne.style.format({"Average Purchase Price":"${:.2f}", "Total Purchase Value":"${:.2f}","Avg Purchase Total Per Person":"${:.2f}"})

In [11]:
# Top Spenders

sngrp = newfile.groupby("SN")
#sngrp
itemidct = sngrp["Price"].count()
avgpp= sngrp["Price"].mean()
totpv = sngrp["Price"].sum()
#totpv
newspenderdf = pd.DataFrame({
                            "Purchase Count" :itemidct,
                            "Average Purchase Price" :avgpp,
                            "Total Purchase Value" : totpv}).round(2)
newspenderdf=newspenderdf.sort_values(by ="Total Purchase Value", ascending = False)
newspenderdf = newspenderdf.reindex(columns=["Purchase Count","Average Purchase Price","Total Purchase Value"])
newspenderdf.style.format({"Average Purchase Price":"${:.2f}","Total Purchase Value": "${:.2f}"})
newspenderdf.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [6]:
#Most Popular Items

sngrp1 = newfile.groupby(["Item ID","Item Name"])

itemid1 = sngrp1["Item Name"].unique
itemidct1 = sngrp1["Price"].count()
avgpp1= sngrp1["Price"].unique()
totpv1 = sngrp1["Price"].sum()
#totpv
gamerFavorites = pd.DataFrame({"Purchase Count" :itemidct1,
                            "Item Price" :avgpp1,
                            "Total Purchase Value" : totpv1}).round(2)
gamerFavorites=gamerFavorites.sort_values(["Purchase Count","Total Purchase Value"], ascending = False)
gamerFavorites = gamerFavorites.reindex(columns=["Purchase Count","Item Price","Total Purchase Value"])
gamerFavorites.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,"[4.88, 4.19]",59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,[4.23],50.76
82,Nirvana,9,[4.9],44.10
145,Fiery Glass Crusader,9,[4.58],41.22
108,"Extraction, Quickblade Of Trembling Hands",9,[3.53],31.77

In [7]:
#Most Profitable Items

gamerFavorites = gamerFavorites.sort_values(["Total Purchase Value"], ascending = False)
gamerFavorites.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,"[4.88, 4.19]",59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,[4.23],50.76
82,Nirvana,9,[4.9],44.10
145,Fiery Glass Crusader,9,[4.58],41.22
103,Singed Scalpel,8,[4.35],34.80